html,
body {
  height: 100%;
  width: 100%;
  background: var(--clr-base);
}

main {
  --border-dist: min(2vh, 2vw);
  position: fixed;
  height: calc(100% - 2 * var(--border-dist));
  width: calc(100% - 2 * var(--border-dist));
  margin: var(--border-dist);
  border: 1px solid var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: var(--clr-primary);
  background: linear-gradient(
    160deg,
    var(--clr-base),
    color-mix(in srgb, var(--clr-base) 60%, var(--clr-secondary)),
    color-mix(in srgb, var(--clr-base) 94%, var(--clr-primary))
  );
  overflow: hidden;
}

h1 {
  color: var(--clr-primary);
  text-align: center;
  line-height: 1;
  font-size: var(--fs-title);
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.menu-btn {
  width: 6em;
  padding-block: 0.2em;
  border-radius: 20px;
  font-size: var(--fs-base-lrg);
  transition: ease-out all 0.2s;
}

.menu-btn:hover {
  cursor: pointer;
  width: 6.5em;
  color: var(--clr-primary);
  background: color-mix(in srgb, var(--clr-secondary) 95%, var(--clr-primary));
}
