html,
body {
  height: 100%;
  width: 100%;
  background: var(--clr-base);
}

main {
  --corner-size: 30svh;
  --corner-style: 5px solid
    color-mix(in srgb, var(--clr-primary) 70%, var(--clr-base));
  --corner-brdr-r: 4px;
  --border-dist: min(2vh, 2vw);
  position: fixed;
  height: calc(100% - 2 * var(--border-dist));
  width: calc(100% - 2 * var(--border-dist));
  margin: var(--border-dist);
  padding: 1rem;
  color: var(--clr-primary);
  background: linear-gradient(
    160deg,
    var(--clr-base),
    color-mix(in srgb, var(--clr-base) 99%, var(--clr-primary))
  );
}

main::before {
  content: "";
  position: fixed;
  top: var(--border-dist);
  left: var(--border-dist);
  height: var(--corner-size);
  width: var(--corner-size);
  border-top: var(--corner-style);
  border-left: var(--corner-style);
  border-radius: var(--corner-brdr-r);
}

main::after {
  content: "";
  position: fixed;
  top: calc(100% - var(--border-dist) - var(--corner-size));
  left: calc(100% - var(--border-dist) - var(--corner-size));
  height: var(--corner-size);
  width: var(--corner-size);
  border-right: var(--corner-style);
  border-bottom: var(--corner-style);
  border-radius: var(--corner-brdr-r);
}

.faces-wrapper {
  height: 100%;
  width: 70%;
  padding: 1rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(10vw, 20vw));
  gap: 1rem;
  place-items: center;
}

.face {
  --icon-filter: invert(0.3) sepia(0.5) hue-rotate(230deg);
  --background-opacity: 0;
  position: relative;
  border-radius: 20px;
  place-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    160deg,
    color-mix(in srgb, var(--clr-base) 80%, var(--clr-secondary)),
    color-mix(in srgb, var(--clr-base) 30%, var(--clr-secondary))
  );
}

.face:hover {
  --icon-filter: invert(0.4) sepia(0.7) hue-rotate(230deg);
  --background-opacity: 1;
}

.face-background {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(
    160deg,
    color-mix(in srgb, var(--clr-base) 30%, var(--clr-secondary)),
    color-mix(in srgb, var(--clr-base) 2%, var(--clr-secondary))
  );
  opacity: var(--background-opacity);
  transition: opacity 0.2s;
}

.face-icon {
  width: 60%;
  filter: var(--icon-filter);
  transition: filter 0.2s;
}

.bets {
  position: absolute;
  top: 100%;
  left: 100%;
  display: flex;
}

.info-bar-wrapper {
  position: fixed;
  top: 80%;
  left: calc(75% - var(--border-dist));
  height: 3rem;
  width: 25%;
  overflow: hidden;
}

.info-bar {
  position: relative;
  left: 5%;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: var(--clr-primary);
}
