html,
body {
  height: 100%;
  width: 100%;
  background: var(--clr-base);
}

main {
  --corner-size: 30svh;
  --corner-style: 5px solid
    color-mix(in srgb, var(--clr-primary) 70%, var(--clr-base));
  --corner-brdr-r: 4px;
  --border-dist: min(2vh, 2vw);
  position: fixed;
  height: calc(100% - 2 * var(--border-dist));
  width: calc(100% - 2 * var(--border-dist));
  margin: var(--border-dist);
  margin-left: calc(1.5% + var(--border-dist));
  padding: 1rem;
  color: var(--clr-primary);
  background: linear-gradient(
    160deg,
    var(--clr-base),
    color-mix(in srgb, var(--clr-base) 99%, var(--clr-primary))
  );
}

main::before {
  content: "";
  position: fixed;
  top: var(--border-dist);
  left: var(--border-dist);
  height: var(--corner-size);
  width: var(--corner-size);
  border-top: var(--corner-style);
  border-left: var(--corner-style);
  border-radius: var(--corner-brdr-r);
}

main::after {
  content: "";
  position: fixed;
  top: calc(100% - var(--border-dist) - var(--corner-size));
  left: calc(100% - var(--border-dist) - var(--corner-size));
  height: var(--corner-size);
  width: var(--corner-size);
  border-right: var(--corner-style);
  border-bottom: var(--corner-style);
  border-radius: var(--corner-brdr-r);
}

.faces-wrapper {
  height: 100%;
  width: 70%;
  padding: 1rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(10vw, 20vw));
  gap: 1rem;
  place-items: center;
}

.face {
  --icon-filter: invert(0.4) sepia(0.5) hue-rotate(230deg);
  --background-opacity: 0;
  position: relative;
  border-radius: 20px;
  place-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    160deg,
    color-mix(in srgb, var(--clr-base) 20%, var(--clr-secondary)),
    color-mix(in srgb, var(--clr-base) 80%, var(--clr-secondary))
  );
  transition: 1s filter;
}

.face:hover {
  --icon-filter: invert(0.5) sepia(0.7) hue-rotate(230deg);
  --background-opacity: 1;
  cursor: pointer;
}

.face-background {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(
    160deg,
    color-mix(in srgb, var(--clr-base) 30%, var(--clr-secondary)),
    color-mix(in srgb, var(--clr-base) 30%, var(--clr-secondary))
  );
  opacity: var(--background-opacity);
  transition: opacity 0.2s;
}

.face-icon {
  width: 60%;
  filter: var(--icon-filter);
  transition: filter 0.2s;
}

/* Dynamically added in play.js */
.bets {
  position: absolute;
  top: 86%;
  left: 4%;
  height: 11%;
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  overflow: hidden;
  transition: 0.5s opacity;
}

.bet-tick {
  height: 40%;
  width: 2%;
  border-radius: 20px;
  background: var(--clr-primary);
}

#dice-display {
  position: fixed;
  top: 0%;
  left: calc(70% + var(--border-dist));
  width: 25%;
  height: 70%;
  margin: var(--border-dist);
  margin-top: calc(var(--border-dist) + 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.die {
  height: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  background: color-mix(in srgb, var(--clr-primary) 80%, var(--clr-secondary));
  display: flex;
  justify-content: center;
  align-items: center;
}

.die-face {
  width: 60%;
  filter: invert(0.1) sepia(0.5) hue-rotate(230deg);
  transition: filter 0.2s;
}

.info-bar-wrapper {
  position: fixed;
  top: 80%;
  left: calc(75% - var(--border-dist));
  height: 3rem;
  width: 25%;
  overflow: hidden;
}

.info-bar {
  position: relative;
  left: 5%;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(
    to right,
    var(--clr-primary) 85%,
    var(--clr-base)
  );
}

.info-bar button {
  padding-inline: 0.35rem;
  border-radius: 15px;
  background: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(1rem, 3vw + 0.5rem, 1.5rem);
  transition: all 0.2s;
}

.info-bar button:hover {
  cursor: pointer;
  color: var(--clr-primary);
  background: var(--clr-secondary);
}

#bank-display {
  margin-left: 5%;
  color: var(--clr-base);
  font-weight: bold;
  font-size: 1.5rem;
}

.bet-amt-bar-wrapper {
  position: fixed;
  top: 90%;
  left: calc(80% - var(--border-dist));
  height: 2rem;
  width: 20%;
  overflow: hidden;
}

.bet-amt-bar {
  position: relative;
  left: 5%;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(
    to right,
    var(--clr-primary) 85%,
    var(--clr-base)
  );
}

#bet-amt {
  margin-left: 5%;
  padding-inline: 0.35rem;
  color: var(--clr-base);
  font-size: 1.25rem;
  font-weight: bold;
}

.inc-dec-bet-amt {
  display: flex;
  gap: 0.5rem;
}

.inc-dec-btn {
  padding: 0.2rem;
  border-radius: 20px;
  transition: all 0.1s;
}

.inc-dec-btn:hover {
  cursor: pointer;
  color: var(--clr-primary);
  background: var(--clr-secondary);
}

@media only screen and (max-width: 1050px) {
  .faces-wrapper {
    height: 80%;
    width: 100%;
    grid-template: repeat(auto-fit, minmax(10vh, 20vh)) / repeat(2, 1fr);
  }

  .face-icon {
    height: 60%;
  }

  .info-bar-wrapper {
    width: 55%;
    left: calc(45% - var(--border-dist));
  }

  .bet-amt-bar-wrapper {
    left: calc(50% - var(--border-dist));
    width: 50%;
  }

  #dice-display {
    top: 80%;
    left: var(--border-dist);
    width: 43%;
    height: clamp(8%, 9vw + 1rem, 15%);
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .die {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background: color-mix(
      in srgb,
      var(--clr-primary) 80%,
      var(--clr-secondary)
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
